 @media (max-width: 1150px) {
    .short-list {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .heading-1 {
        font-size: 25px;
    }
    .input-2 {
        width: 410px;
        margin-top: 25px;
        border: transparent;
        background: rgba(245, 245, 245, 0.897);
    }
    .short-list-2 {
        width: 90%;
        margin-top: 20px;
    }
    .input-1 {
        margin: 0 auto;
    }
    .div-3 {
        grid-template-columns: 50% 50%;
    }
    .section-5 {
        margin-top: 2195px; 
    }
    .div-5 {
        margin-top: 2195px;
    }
    .heading-3 {
        font-size: 2.1rem;
        text-align: center;
    }
    .img-5 {
        width: 200px;
        margin-top: 20px;
    }
    .div-7 {
        width: 90%;
    }
    .div-8 {
        width: 100%;
        gap: 0;
        display: flex;
        flex-direction: column;
    }
    
    .div-9 {
        text-align: center;
        font-size: 10px;
        width: 100%;
        
    }
    .s-list-3 {
        text-align: center;
        margin: 10px auto;
    }
    
    .p-5 {

        text-align: center;
    }
    .img-log {
        margin-right: auto;
    }
   

 }

 @media (max-width: 1090px) {
    .list {
        display: none;
    }
 }

 @media (max-width: 550px) {
    .input-1 {
        width: 350px;
        margin-left: -14px;
    }
    body {
        overflow-x: hidden;
    }
    .div-4 {
        width: 100%;
    }
    .img-3 {
        width: 200px;
    }
    .img-log {
        margin-right: auto;
    }
 }

 @media (min-width: 1090px) {
    .div-11 {
        display: none;
    }
 }